/* ***************************************************

	Begin phpMyEdit-specific classes.

		Form style (form.pme-form) "can" be over-whelming.

**************************************************** */




.sel_cnl {background:#FF0000;}
.sel_tkt {background:#b6e992;}

/*
#FF0000  -red
#008000  -green 
*/

/* 10.08.20 http://185.247.141.11/mantisbt/view.php?id=464#c1075 */
form.pme-form,
form.pme-form-add, 
form.pme-form-delete, 
form.pme-form-copy, 
form.pme-form-view, 
form.pme-form-change 

{
	margin-left: 12px;
/* background-color:#B4D2FA;
*/

background-color:#fff;

color:#000000;
/*margin: 1px;*/
/* border-top: thin solid #EBF1FF;
border-left: thin solid #EBF1FF;
border-right: thin solid #AFB5C5;
border-bottom: thin solid #AFB5C5; */
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
 font-size: 8pt;
margin-top: 10px;
}
table.pme-main,
table.pme-main-add,
table.pme-main-delete,
table.pme-main-copy,
table.pme-main-view,
table.pme-main-change
{
/* background-color:#6699cc; */
background-color:#d9d9d9;

 border-collapse:  collapse;
color:#000000;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
 font-size: 8pt;
/*width: 961px;*/
 margin-left: 3px;
 /* border-right: 1px solid #CECECE; */
 border: 2px solid #d9d9d9;
}

/* table.pme-main select, */
table.pme-main-add select,
table.pme-main-delete select,
table.pme-main-copy select,
table.pme-main-view select,
table.pme-main-change select  {
	width: 100%;
	border-radius:3px;
}

/* table.pme-main input, */
table.pme-main-add input,
table.pme-main-delete input,
table.pme-main-copy input,
table.pme-main-view input,
table.pme-main-change input   {
	width: 99%;
}

.pme-main-change textarea {
	width: 99%;
	border-radius:3px;
	border: 1px solid #00e1a0;
}

table.pme-main select:focus,
table.pme-main-add select:focus,
table.pme-main-delete select:focus,
table.pme-main-copy select:focus,
table.pme-main-view select:focus,
table.pme-main-change select:focus  {
 border: 1px solid #0050ff;
}

table.pme-main input:focus,
table.pme-main-add input:focus,
table.pme-main-delete input:focus,
table.pme-main-copy input:focus,
table.pme-main-view input:focus,
table.pme-main-change input:focus   {
	border: 1px solid #0050ff;
}

/*21.08.20 http://185.247.141.11/mantisbt/view.php?id=464#c1112 */

.pme-main-change textarea:focus  {
	border: 1px solid #0050ff;
}
.pme-main tbody {
	border: 2px solid #d9d9d9;
}
.pme-main a {
	color: #2a7ab8;
	color: #0050ff;
	text-decoration: none;
}
.pme-main tr {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.pme-main tr td {
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.pme-main tr:hover {
	background-color: rgb(224, 224, 224);
}




th{ 
/* this border inherited below */
/* border-bottom: 1px solid #F0F1FF; */
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size: 8pt;
font-weight:normal;
vertical-align:middle;
}
/* Row 1, table.pme-main (A, TR, TH) affected by such things as postfix -right-align */
.pme-header,
th.pme-header-right-align{
/* background-color: #9DC6FF; */
background-color: #fff;
COLOR: #000000;
font-size: 8pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
/* padding-top: 2px;
padding-left: 3px;
padding-right: 2px; */
}

/* 21.08.20 http://185.247.141.11/mantisbt/view.php?id=464#c1112 */
tr.pme-header th{
	border: 1px solid #d9d9d9;
	text-align: left;
	padding: 5px 3px;
}
tr.pme-header th a::after{
	content: ""; 
	display: inline-block;
	width: 10px;
	height: 10px;
	/* background-color: #000; */
	background-image: url(images/arrow.svg);
	background-repeat: no-repeat;
	background-position-y: bottom;
	color: #0050ff; 
	margin-left: 5px;
	padding-left: 2px;
}


/* Row 1, table.pme-main Clear/Hide/Search INPUT's */
.pme-hide {
/* background-color: #9DC6FF; */
background-color: #fbfbfb;
background-image: url(images/hide.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;

cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
.pme-clear {
/* background-color: #9DC6FF; */
background-color: #fbfbfb;
background-image: url(images/clear.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;

cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
.pme-search {
/* background-color: #9DC6FF; */
background-color: #fbfbfb;
background-image: url(images/search.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
.pme-query {
/* background-color: #CECECE; */
background-color: #fbfbfb;
background-image: url(images/query.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
/* Row 2, table.pme-main - during normal list mode, 
   and/or displayed as Row 3 between .pme-queryinfo and 
	.pme-filter during Search and Query.
	(Can be disabled in forms by setting search = false.)

	 A, TR, TD */
	 
tr.pme-queryinfo {
	/* border-top: 1px solid #cccccc; */
	/* text-align: center; */
	/* background-color: #cccccc; */
	FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
	padding: 5px;
}

td.pme-queryinfo{
	border-bottom: 1px solid #c7c6c6;
	border-top: 1px solid #c7c6c6;
	padding: 5px;
}

.pme-queryinfo>td.pme-queryinfo:first-child {
	text-align: center;
}


tr.pme-sortinfo {
/* background-color:#cccccc; */
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:9pt;
color:#000000;
padding: 3px;
border-left:1px solid #cccccc;
/* border-bottom: 1px solid #575757; */
border-top:  1px solid #cccccc;
/* text-align:  center; */
}

.pme-sortinfo>td.pme-sortinfo:first-child {
	text-align: center;
}

/* Row 2 during Search (hidden otherwise) */
tr.pme-filter
{
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
/* background-color: #cccccc; */
color:#000000;
}
/* 21.08.20 http://185.247.141.11/mantisbt/view.php?id=464#c1112 */
tr.pme-filter:hover {
	background-color: inherit;
}




input.pme-filter 
{
background-color:#ffffff;
color:#000000;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
 font-size: 8pt;
/* border:1px solid #336699; */
border: 1px solid #9f9f9f;
width: 90%;
}
input.pme-filter:focus {
	border: 1px solid #0050ff;
} 
/* Borders "could" be added to td.pme-filter */
td.pme-filter {
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
text-align:left;
padding: 3px;
text-align: center;
}
/* table.pme-navigation Prev/Add/Next buttons */
table.pme-navigation{
border-collapse:collapse;
border:0px outset #9FA9E5;;
margin-top: 5px;
}
tr.pme-navigation{
color:#000000;
}
.pme-navigation table tbody tr:nth-child(even) {
	/* margin: 5px; */
	background: rgb(14, 30, 51);
}
td.pme-navigation-0{
/* background-image: url(images/p_d.gif);
background-repeat: repeat-x;
background-position: top; */
color:#000000;
text-align:  center;
}
td.pme-navigation-1{
/* background-image: url(images/p_d.gif);
background-repeat: repeat-x;
background-position: top; */
text-align:  center;
color:#000000;
}

/* 21.08.20 http://185.247.141.11/mantisbt/view.php?id=464#c1112 */

tr.pme-navigation table td {
	padding: 3px;
}

tr.pme-navigation table select {
	margin: 3px 0;
	padding: 3px;
}

.pme-navigation tr td {
	margin: 10px;
}



/* table.pme-navigation Prev/Add/Next... buttons */
input.pme-first:enabled {

background-color: #fbfbfb;
background-image: url(images/first_p.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
padding-left: 20px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;

}

input.pme-first:disabled {
background-color: #fbfbfb;
background-image: url(images/first_p.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:not-allowed;
opacity: 0.2;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}


input.pme-prev:enabled {

background-color: #fbfbfb;
background-image: url(images/prev.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-prev:disabled {

background-color: #fbfbfb;
background-image: url(images/prev.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:not-allowed;
opacity: 0.2;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}



input.pme-add {

background-color: #fbfbfb;
background-image: url(images/add.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
input.pme-view {

background-color: #fbfbfb;
background-image: url(images/view.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
input.pme-change {

background-color: #fbfbfb;
background-image: url(images/change.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-print {

background-color: #fbfbfb;
background-image: url(images/print.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}



input.pme-excel {
background-color: #fbfbfb;
background-image: url(images/excel.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

/*31.07.20 http://185.247.141.11/mantisbt/view.php?id=502#c1019 */
input.pme-note {
	background-color: #fbfbfb;
	background-image: url(images/note.png);
	background-repeat:no-repeat; 
	background-position: center; 
	margin: 5px 2px 5px;
	padding-top:0px; 
	height: 23px;
	width: 23px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	font-size:0px;
	cursor:pointer;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	display: inline-block;
	vertical-align: middle;
	}



input.pme-ssr {
background-color: #fbfbfb;
background-image: url(images/ssr.gif);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-bag {
background-color: #fbfbfb;
background-image: url(images/bag.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}


input.pme-xml {
background-color: #fbfbfb;
background-image: url(images/xml.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-live {
background-color: #fbfbfb;
background-image: url(images/live.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}


input.pme-file {

background-color: #fbfbfb;
background-image: url(images/file.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}


input.pme-copy {
background-color: #fbfbfb;
background-image: url(images/copy.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-delete {
background-color: #fbfbfb;
background-image: url(images/delete.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-next:enabled  {
background-color: #fbfbfb;
background-image: url(images/next.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-next:disabled {
background-color: #fbfbfb;
background-image: url(images/next.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:not-allowed;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
opacity: 0.2;
}


input.pme-last:enabled {
background-color: #fbfbfb;
background-image: url(images/last_p.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-last:disabled {
background-color: #fbfbfb;
background-image: url(images/last_p.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:not-allowed;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
opacity: 0.2;
}



input.pme-goto {
background-color: #fbfbfb;
background-image: url(images/goto.png);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

select.pme-goto {
	margin: 5px 2px 5px;
	height: 23px;
	vertical-align: middle;
}

input.pme-save {
background-color: #fbfbfb;
background-image: url(images/save.gif);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-cancel {
background-color: #fbfbfb;
background-image: url(images/cancel.gif);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc;
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}

input.pme-more {
background-color: #fbfbfb;
background-image: url(images/more.gif);
background-repeat:no-repeat; 
background-position: center; 
margin: 5px 2px 5px;
padding-top:0px; 
height: 23px;
width: 23px;
border-radius: 3px;
border: 1px solid #cccccc; 
font-size:0px;
cursor:pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
display: inline-block;
vertical-align: middle;
}
/* Data cells (ToDo List: experiment with removing/combining certain TD's below). */
td.pme-cell-0,
td.pme-cell-1{
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
padding: 5px 3px;
/* padding: 3px; */
/* text-align: center;
background-image: url(images/p_d.gif);
background-repeat:  repeat-x;
background-position: top; */
}
td.pme-sortinfo{
	border-bottom: 1px solid #c7c6c6;
	border-top: 1px solid #c7c6c6;
	padding: 5px;
}
td.pme-buttons,
td.pme-stats{
color:#000000;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:10pt;
vertical-align: middle;
padding: 3px;
}

tr.pme-row-0,
tr.pme-row-add-0,
tr.pme-row-delete-0,
tr.pme-row-copy-0,
tr.pme-row-view-0,
tr.pme-row-change-0

{
background-color: rgb(225,230,252);
background-color: #f8f8f8;
color:#000000;
}

tr.pme-row-1,
tr.pme-row-add-1,
tr.pme-row-delete-1,
tr.pme-row-copy-1,
tr.pme-row-view-1,
tr.pme-row-change-1
{
background-color:#ffffff;
color:#000000;
}
/* Horizontal rule */
hr,hr.pme-hr{
background-color:transparent;
color:#9DC6FF;
/* height:5px; */
width: 100%;
}
input.pme-input-0,
input.pme-input-1,
input.pme-input-add-0,
input.pme-input-add-1,
input.pme-input-copy-0,
input.pme-input-copy-1,
input.pme-input-change-0,
input.pme-input-change-1

{
/* background-color: #FFF6b4;  */
/* background-color: #f6f7f6; */
background-color: #fff;
color: #000000; 
font-size: 9pt;
/* border: #c8c8c8 1px solid; */
border:none;
border: 1px solid #00e1a0;
border-radius: 3px;
}


input.pme-input-0[disabled],
input.pme-input-1[disabled],
input.pme-input-add-0[disabled],
input.pme-input-add-1[disabled],
input.pme-input-copy-0[disabled],
input.pme-input-copy-1[disabled],
input.pme-input-change-0[disabled],
input.pme-input-change-1[disabled]

{
/* background-color: rgb(225,230,252); */
background-color: rgb(235, 235, 236);
color:#000000;
font-size: 9pt;
border: #c8c8c8 1px solid;
}



select.pme-input-0,
select.pme-input-1,
select.pme-input-add-0,
select.pme-input-add-1,
select.pme-input-copy-0,
select.pme-input-copy-1,
select.pme-input-change-0,
select.pme-input-change-1
{
/* background-color: #FFF6b4; */
background-color: #f6f7f6;
background-color: #ffffff;
color: #000000; 
font-size: 9pt; 
   /* border: 0px; */
	margin: 0px;
	border: 1px solid #00e1a0;
/* width: 100%; */
}



select.pme-input-0[disabled],
select.pme-input-1[disabled],
select.pme-input-add-0[disabled],
select.pme-input-add-1[disabled],
select.pme-input-copy-0[disabled],
select.pme-input-copy-1[disabled],
select.pme-input-change-0[disabled],
select.pme-input-change-1[disabled]
{
/* background-color: rgb(225,230,252); */
background-color: rgb(235, 235, 236);
color:#000000;
font-size: 9pt; 
border: #c8c8c8 1px solid;
}


select.fare-input-change
{
background-color: #FFF6b4;
background-color: #f6f7f6;

color: #000000; 
font-size: 7pt; 
   /* border: 0px; */
	margin: 0px;
	/*06.08.20 http://185.247.141.11/mantisbt/view.php?id=503#c1021 */
	border-radius: 3px;
	border: 1px solid #6ddd99;
}

select.fare-input-change[disabled]
{
background-color: rgb(225,230,252);
color:#000000;
font-size: 7pt; 
border: #c8c8c8 1px solid;
}



td.pme-help-0,
td.pme-help-1,
td.pme-help-add-0,
td.pme-help-add-1,
td.pme-help-view-0,
td.pme-help-view-1,
td.pme-help-copy-0,
td.pme-help-copy-1,
td.pme-help-delete-0,
td.pme-help-delete-1,

td.pme-help-change-0,
td.pme-help-change-1
{
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
 padding-bottom: 1px;
text-align: left;
border: 1px solid #d9d9d9;
}

td.pme-value-0,
td.pme-value-1,
td.pme-value-add-0,
td.pme-value-add-1,
td.pme-value-view-0,
td.pme-value-view-1,
td.pme-value-copy-0,
td.pme-value-copy-1,
td.pme-value-delete-0,
td.pme-value-delete-1,
td.pme-value-change-0,
td.pme-value-change-1 {	
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
padding: 2px;
padding-left: 15px;
padding-right: 10px;
 padding-bottom: 1px;
text-align: left;
background-color: #f8f8f8;
}
td.pme-key-0,
td.pme-key-1,
td.pme-key-add-0,
td.pme-key-add-1,
td.pme-key-delete-0,
td.pme-key-delete-1,
td.pme-key-copy-0,
td.pme-key-copy-1,
td.pme-key-view-0,
td.pme-key-view-1,
td.pme-key-change-0,
td.pme-key-change-1 
 {	
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
font-size:8pt;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
 padding-bottom: 1px;
text-align: left;
border: 1px solid #d9d9d9;

}



input.pme-cancel-add,
input.pme-cancel-change,
input.pme-cancel-copy,
input.pme-cancel-view,
input.pme-cancel-delete {

background-color: #fbfbfb;
border-style: outset;
background-image: url(images/cancel.png);
background-repeat: no-repeat;
background-position: center left;
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left: 20px;
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-save-add,
input.pme-save-change,
input.pme-save-copy {

background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/save.png);
background-repeat:no-repeat; 
background-position:center left; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-save-delete {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/del.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border: 1px solid #cccccc;
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

}


input.pme-change-view {

background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/change.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border: 1px solid #cccccc;
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-print-view {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/print.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}




input.pme-ssr-view {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/ssr.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-bag-view {

background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/bag.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}



input.pme-live-view {

	background-color: #fbfbfb;
	border-style: outset;
	background-image: url(images/live.png);
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 10pt;
	FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
	border: 1px solid #cccccc;
	height: 27px;
	width: 100px;
	cursor: pointer;
	margin-bottom: 4px;
	margin-right: 5px;
	padding-left: 20px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-file-view {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/file.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
/* 05.08.20 http://185.247.141.11/mantisbt/view.php?id=502#c1019 */
input.pme-note-view {
	background-color: #fbfbfb;
	border-style: outset; 
	background-image: url(images/note.png);
	background-repeat:no-repeat; 
	background-position:center left ; 
	font-size: 10pt;
	FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
	border: 1px solid #cccccc;
	height: 27px;
	min-width: 100px;
	margin-right: 5px;
	cursor: pointer;
	margin-bottom: 4px;
	padding-left:20px; 
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	}
/* 05.08.20 http://185.247.141.11/mantisbt/view.php?id=502#c1019 */
input.pme-note_select-view {
	background-color: #fbfbfb;
	border-style: outset; 
	background-image: url(images/note.png);
	background-repeat:no-repeat; 
	background-position:center left ; 
	font-size: 10pt;
	FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
	border: 1px solid #cccccc;
	height: 27px;
	min-width: 100px;
	margin-right: 5px;
	cursor: pointer;
	margin-bottom: 4px;
	padding-left:20px; 
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	}


input.pme-upload-view {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/upload.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

input.pme-file_select-view {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/select.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}





input.pme-more-change,
input.pme-more-add {
background-color: #fbfbfb;
border-style: outset; 
background-image: url(images/more.png);
background-repeat:no-repeat; 
background-position:center left ; 
font-size: 10pt;
FONT-FAMILY: 'Euclid Circular B', Tahoma, Arial, sans-serif;
border: 1px solid #cccccc;
height: 27px;
min-width: 100px;
margin-right: 5px;
cursor: pointer;
margin-bottom: 4px;
padding-left:20px; 
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


/*΅ ᫲飭ὠ衪졤랠- 󡢳퀲ﱻ 񡢮󹡱 衯鲼*/

td.pme-tab-view,
td.pme-tab-change,
td.pme-tab-add,
td.pme-tab-copy,
td.pme-tab-delete
{
	 background: #D1D4E0;
	 height: 20px;
	 text-align: center;
	 vertical-align: middle;
	 border-left-color: #ABABAB;
	 border-left-style: solid;
	 border-left-width: 1px;
	 border-top-color: #ffffff;
	 border-top-style: solid;
	 border-top-width:  1px;
	 border-right-color: #666666;
	 border-right-style: solid;
	 border-right-width: 1px; 
	 width: 105px;
}

/*j󩣭ὠ衪졤랠- 󡢳퀲ﱻ 񡢮󹡱 衯鲼*/
td.pme-tab-selected-view,
td.pme-tab-selected-change,
td.pme-tab-selected-add,
td.pme-tab-selected-copy,
td.pme-tab-selected-delete
{
	 font-weight: bolder;
	 color: #595959; 
	 background: #B8C6F7;
	 height: 20px;
	 text-align: center;
	 vertical-align: middle;
	 border-left-color: #FFFFFF;
	 border-left-style: solid;
	 border-left-width: 1px;
	 border-top-color: #ffffff;
	 border-top-style: solid;
	 border-top-width:  1px;
	 border-right-color: #666666;
	 border-right-style: solid;
	 border-right-width: 1px; 
	 width: 105px;
}